@using Microsoft.AspNetCore.Identity
@inject SignInManager<DbUser> SignInManager
@inject UserManager<DbUser> UserManager
@{
    var isAuthenticated = BoolUtil.NullTo(User.Identity?.IsAuthenticated);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) || isAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <div class="">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <button type="submit" class="nav-link btn btn-link text-dark d-inline">Sair</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </li>
    }
</ul>
