@model (string Url, string DisplayName)

<li class="nav-item">
    <a class="nav-link text-dark link-hover" href="@Model.Url">
        <span class="sidenav-normal">@Model.DisplayName</span>
    </a>
</li>